@font-face {
    font-family: 'Figtree-Medium';
    src: url('./fonts/static/Figtree-Medium.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Figtree-ExtraBold';
    src: url('./fonts/static/Figtree-ExtraBold.ttf') format('truetype');
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Figtree-Medium', sans-serif;
    background-color: hsl(47, 88%, 63%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  
  main {
    max-width: 100%;
  }
  
  .card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    border: 1.5px solid hsl(0, 0%, 7%);
    box-shadow: 8px 8px 0 hsl(0, 0%, 7%);
    padding: 1.5rem;
    max-width: 400px;
    min-width: 350px;
    transition: all 0.3s ease;
  }
  
  .card-image {
    margin-bottom: 1.5rem;
  }
  
  .card-image img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    object-fit: cover;
  }
  
  .tag {
    display: inline-block;
    background-color: hsl(47, 88%, 63%);
    color: hsl(0, 0%, 7%);
    font-family: 'Figtree-ExtraBold', sans-serif;
    padding: 0.3rem 0.8rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
  
  .publish-date {
    color: hsl(0, 0%, 7%);
    font-size: 0.85rem;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-family: 'Figtree-ExtraBold', sans-serif;
    color: hsl(0, 0%, 7%);
    margin-bottom: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.2s ease;
  }
  
  h2:hover {
    color: hsl(47, 88%, 63%);
  }
  
  .description {
    color:  hsl(0, 0%, 42%);
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }
  
  .author {
    display: flex;
    align-items: center;
    gap: 0.7rem;
  }
  
  .author img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  
  .author p {
    font-family: 'Figtree-ExtraBold', sans-serif;
    font-size: 0.85rem;
  }
  
  .card {
    width: calc(100% - 2rem);
    margin: 0 auto;
  }